@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue400: #63b3ed;
    --bgGray: #1a202c;
}

html,
body {
    min-height: 100vh;
}

body {
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#left {
    display: inherit;
    height: 70vh;
}

#left img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#right {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

#top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f8f9fa;
    padding-top: 2rem;
    padding-left: 2.75rem;
    padding-bottom: 2rem;
    border-top-right-radius: 1rem;
}

h2 {
    font-weight: 700;
}

h4 {
    width: 60%;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    color: #38404C;
}

form {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 12px;
}

label {
    color: #718096;
    font-size: 14px;
    margin-bottom: 8px;
}

input {
    padding: 12px 20px 12px 20px;
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: #edf2f7;
    border-style: solid;
}

input:focus {
    outline: none;
    border-color: #46A7F6;
    border-width: 1px;
    box-shadow: 0 0 2px #98CEFA;
}

.invalid {
    outline: none;
    border-color: #DB1414;
    border-width: 1px;
    box-shadow: 0 0 2px #EB2B2B;
}

.valid {
    outline: none;
    border-color: #3BCE1A;
    border-width: 1px;
    box-shadow: 0 0 2px #87ED70;
}

#note {
    padding-left: 8px;
}

#note p {
    margin-top: 1rem;
    margin-bottom: 24px;
    font-size: 14px;
}

button {
    background-color: #665df5;
    color: white;
    border-radius: 8px;
    padding: 1rem 2rem 1rem 2rem;
    border-style: none;
}

hr {
    margin-top: 1rem;
    height: 1px;
    border-top: 1px;
}

hr+p {
    color: #38404C;
    margin-top: 1rem;
    padding-left: 2.5rem;
    font-size: 15px;
}

hr+p a {
    text-decoration: none;
}